@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<button class="button button-blue-back" id="load-friends-button">Load Friends</button>

<div id="list"></div>

<script src="~/friends.js"></script>

@*@{
    PersonGridModel personGridModel2 = new()
            {
                GridTitle = "Friends",
                Persons = new List<Person>()
                {
                    new Person() { PersonName = "Mia", JobTitle = "Developer"},
                    new Person() { PersonName = "Ema", JobTitle = "QA"},
                    new Person() { PersonName = "April", JobTitle = "Designer"}
                }
            };
}*@
@*invoking viewComponent*@
@*moramo ubaciti parametre u GridViewComponent methodu InvokeAsync*@
@*@await Component.InvokeAsync("Grid", new {
   grid = personGridModel2,
})*@